* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: url("./images/bg-banner.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background-color: #d5ffdc;
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  margin: 8px;
  width: 30%;
  display: inline-block;
}

.plan--highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background-color: #ffffff;
  color: #19b84c;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 8px 0;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: #ffffff;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.main-header {
  background: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
}

.main-header__brand {
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: #0e4f1f;
  vertical-align: middle;
}

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 112px);
  vertical-align: middle;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #ffffff;
  border-bottom: #fff solid 3px;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 5px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: #ffffff;
  border-bottom: none;
}

.button {
  color: white;
  background-color: #0e4f1f;
  padding: 12px;
  border: 1px solid #0e4f1f;
  border-radius: 10px;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background-color: #ffffff;
}

#key-features {
  background-color: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: #ffffff;
}

.key-features__items {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.key-features__item {
  display: inline-block;
  width: 30%;
}

.key-feature__description {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.key-feature__image {
  width: 128px;
  height: 128px;
  background-color: #ffcede;
  border: 4px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.main-footer {
  background-color: #000000;
  padding: 16px;
  margin-top: 32px;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #cccccc;
}
